<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>외부 API사용</title>

    <!-- axios CDN -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <body>
    <h1>간단 Open API사용하기</h1>
    <script>
      //  https://api.thecatapi.com/v1/images/search
    </script>
  </body>
</html>
